<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>RecoMovie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='blog.min.css') }}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Auto Complete -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>

    <body style="background-image: url('{{ url_for('static', filename='image.jpg') }}'); background-size: fill;">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand" href="/home">RecoMovie</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/genres">Genre & Year</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Page Header -->
        <header class="masthead" style="background-color: black; height: 80px; background-color: transparent;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
              </div>
            </div>
          </div>
        </div>
        </header>

        <div class="movie" style="color: #E8E8E8;">
          <center><h3>RECOMMENDED MOVIES FOR YOU</h3>
            {% for key, value in gename.items() %}
                    <h5>Genre - {{ value }}</h5><br>
                    {% endfor %}
          </center>
        </div>

        <center>
           <div class="col-md-12" style="margin: 0 auto; margin-top:25px;">
              <table class="table table-bordered" bordercolor="white" style="color:white">
                  <tbody>
                {% for key, value in result.items() %}
                <tr style="background-color:#e5091485;">
                        <td>{{ value }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </center>
    </body>
  
      <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='blog.min.js') }}"></script>
  
</html>
